<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058078351513-2vna1u6q5v6ei3efmsv5s4r2ka8efqsa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058078351513-2vna1u6q5v6ei3efmsv5s4r2ka8efqsa</string>
	<key>API_KEY</key>
	<string>AIzaSyDcSUu0AVkanFE_luNCoNdOFZlP-x79FiI</string>
	<key>GCM_SENDER_ID</key>
	<string>1058078351513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.greger.cogniteflutterdemo</string>
	<key>PROJECT_ID</key>
	<string>cognite-cdf-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>cognite-cdf-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058078351513:ios:ac219fd2cf70a267035808</string>
	<key>DATABASE_URL</key>
	<string>https://cognite-cdf-demo.firebaseio.com</string>
</dict>
</plist>